.wp_main{
display:flex;
flex-direction: column;
/* justify-content: center; */
/* align-items: flex-start; */
/* height:100vh; */
width:100%;
background: rgb(65, 64, 64);
gap:2%;
}
.wp_nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background: #080808;
    color:#fff;
    font-size: 2.2rem;
    font-family: Cascadia Code;
    /* margin: 2%; */
    padding: 0% 5% 0% 5%;

}
.wp_nav a{
    color:#fff;
    text-decoration:none;
}
.wp_content{
    display: flex;
    flex-direction: column;
    margin: 3%;
}
.home_content{
    font-size: 4rem;
    color:#fff;
    font-family: Cascadia Code;
    margin: 0;
}
.home_says{
    font-size: 1.5rem;
    color:#faecec;
    font-family: Cascadia Code;
    margin: 0;
}
.wp_aBlockcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    /* padding: 0% 5% 0% 5%; */
}
.about_left{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width:40%;
}
.about_right{
    display:flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width:40%;
}
.about_head{
    font-size: 2rem;
    color:#fff;
    font-family: Cascadia Code;
    margin: 0;
}
.about_explain{
    font-size: 1.5rem;
    color:#faecec;
    font-family: Cascadia Code;
}
.tag-line{
    font-size: 1.2rem;
    color:#faecec;
    font-family: Lucida Calligraphy;
}
.wp_coBlockcontent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2%;
    /* padding: 0% 5% 0% 5%; */
}
.contact_content{
    font-size: 2rem;
    color:#fff;
    font-family: Cascadia Code;
    margin: 0;
}
.contact_explain{
    font-size: 1.5rem;
    color:#faecec;
    font-family: Lucida Calligraphy;
    margin: 0;
}
.contact_line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    /* padding: 0% 5% 0% 5%; */
}
.contact_details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2%;
    font-size: 1.4rem;
    font-family: Cascadia Code;
    color:#faecec;
    /* padding: 0% 5% 0% 5%; */
}
.c_image{
    width: 2rem;
    height: 2rem;
}